{
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "singleQuote": true,
        "vueIndentScriptAndStyle": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "singleQuote": true
      }
    }
  ],
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": true
}